<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.InfoMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.pojo.Info">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="text" jdbcType="VARCHAR" property="text" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="infoCont" jdbcType="VARCHAR" property="infocont" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Base_Column_List">
    fid, text, date, infoCont, img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_info
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_info
    where fid = #{fid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.pojo.Info">
    insert into t_info (fid, text, date, 
      infoCont, img)
    values (#{fid,jdbcType=INTEGER}, #{text,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, 
      #{infocont,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.pojo.Info">
    insert into t_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        fid,
      </if>
      <if test="text != null">
        text,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="infocont != null">
        infoCont,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="text != null">
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="infocont != null">
        #{infocont,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.pojo.Info">
    update t_info
    <set>
      <if test="text != null">
        text = #{text,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="infocont != null">
        infoCont = #{infocont,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.pojo.Info">
    update t_info
    set text = #{text,jdbcType=VARCHAR},
      date = #{date,jdbcType=TIMESTAMP},
      infoCont = #{infocont,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=INTEGER}
  </update>
</mapper>